<!-- Marketing messaging and featurettes
      ================================================== -->

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Education.
                <span class="text-muted">It'll blow your mind.</span>
            </h2>
            <p class="lead">Success is not final, failure is not fatal: it is the courage to continue that counts.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="/images/img1.jpg" alt="Andela image" height="500px" width="500px">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Education.
                <span class="text-muted">See for yourself.</span>
            </h2>
            <p class="lead">The function of education is to teach one to think intensively and to think critically. Intelligence plus character - that
            is the goal of true education.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="/images/img5.jpg" alt="Andela image" height="500px" width="500px">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Education.
                <span class="text-muted">Educate.</span>
            </h2>
            <p class="lead">Education is the most powerful weapon which you can use to change the world.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="/images/img2.jpg" alt="Generic placeholder image" height="500px" width="500px">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

